html {
    font-size: 16px;
}

body {
    height: 100vh;
    background: mintcream;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    color: white;
    padding: 30px;
    font-size: 1.2rem;
    background: linear-gradient(90deg, #8E9ABF, #B4D9D2);
    border-radius: 25px;
    transition: font-size 300ms ease-in-out 0.2s;
}

button:hover {
    font-size: 1.6em;
    transition: font-size 300ms ease-in-out 0.2s;
}

button:active {
    background: linear-gradient(90deg, #2e4894, #448a7d);
}

#message {
    display: none;
    height: 30%;
    width: 70%;
    border: 1px solid grey;
    background-color: skyblue;
    transition: display 1s ease-in-out 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}